.navigation {
  height: 10vh;
  background-color: $color-primary;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $font-display;
  font-size: 20px;
  color: $color-white;
}

.button {
  display: block;
  width: 100px;
  background-color: $color-secondary;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: $color-white;
  border: none;

  &--form {
    width: 100%;
    background-color: $color-primary-light;
  }

  &--secondary {
    background-color: $color-white;
    color: $color-primary-light;
    border: solid 2px $color-primary-light;
    margin: auto;
  }
}

.intro {
  text-align: center;

  &__heading {
    color: $color-primary;
    font-size: 50px;
  }

  &__sub-heading {
    font-family: $font-display;
    font-size: 25px;
    margin: 20px 0;
  }

  &__button {
    margin: auto;
  }
}

.wave {
  vertical-align: top;
}

.form {
  background-color: $color-white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 20px;
  }
}

.customerexit {
  display: flex;
  flex-direction: column;

  .exit__heading {
    color: $color-black;
    font-size: 25px;
    font-family: $font-display;
    margin: 20px 0;
  }
}

.footer {
  height: 10vh;
  background-color: $color-primary;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-size: 20px;
    color: $color-white;
  }
}
